// Background Color
$background-white: #fff;
$background-white-2: #f8fafc;
$background-gray: #292f3a;

// Text Color
$text-white: #fff;
$text-white-1: #e7e5ea;
$primary-color: #2d3958;
$secondary-color: #7b88a8;
$error-color: #e11900;
$green-4: #016a1f;
$green-1: #e8fce8;
$red-1: #fff1ef;
$red-3: #e11900;
$blue-1: #eff5ff;
$blue-3: #2b61f5;
$yellow-1: #fff2d7;
$yellow-4: #b65700;
$purple-1: #886cff;
